.root {
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 12px 0;
  overflow-x: scroll;
  white-space: nowrap;
}

.item {
  display: inline-block;
  padding: 0 12px;
}

.thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
